@import url('../css/fonts/roboto.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'chillaxbold';
  src: url('fonts/chillax/chillax-bold-webfont.woff2') format('woff2'),
  url('fonts/chillax/chillax-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chillaxextralight';
  src: url('fonts/chillax/chillax-extralight-webfont.woff2') format('woff2'),
  url('fonts/chillax/chillax-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chillaxlight';
  src: url('fonts/chillax/chillax-light-webfont.woff2') format('woff2'),
  url('fonts/chillax/chillax-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chillaxregular';
  src: url('fonts/chillax/chillax-regular-webfont.woff2') format('woff2'),
  url('fonts/chillax/chillax-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply bg-mochi-white
  text-mochi-orange
  flex
  justify-center
  text-center
  mx-0
  my-auto
  roboto-regular;
  min-width: 320px;
  min-height: 100vh;
}

#app-wrapper {
  max-width: 1440px;
  width: calc(100vw);
}

header {
  @apply
  text-mochi-orange text-xl
  px-10 py-5
  flex
  place-content-evenly;
  transition: 0.3s ease;
}

header:hover {
  @apply bg-mochi-orange
  text-mochi-white;
}

.nav-logo {
  width: 10%;
}

.nav-icons {
  width: 10%;
}

.nav-icons img {
  @apply mx-2
  w-1/5;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1;
}

footer button {
  text-transform: uppercase;
}

.mochi-button {
  @apply
  px-8 
  py-4
  mt-8
  text-mochi-white
  bg-mochi-orange
  border-solid
  border-2
  border-mochi-orange
  rounded-lg
  uppercase;
  transition: 0.3s;
}

.mochi-button:hover {
  @apply
  bg-opacity-0
  text-mochi-orange;
}

a {
  text-decoration: none;
}

header a {
  display: flex;
}

/* main */
main img {
  border-radius: 1em;
}

.center {
  display: flex;
  place-content: center;
  margin-left: auto;
  margin-right: auto;
}

.wiz-photo {
  @apply m-1;
}

.section-realisations img {
  @apply mx-auto;
}

.blures {
  border-radius: 1em;
  max-width: 1376px;
  max-height: 500px;
}

.box {
  width: 440px;
  height: 500px;
}

.project-outlet img {
  margin-top: 2rem;
}

.project-presentation {
  max-width: 1376px;
  display: flex;
  place-content: beetwen;
}

.link-offer-package {
  @apply
  w-1/4
  mx-4;
}

.offer-package {
  @apply 
  border-mochi-orange
  rounded-md
  content-center
  bg-mochi-brown
  mt-10
  uppercase;
  border: solid 1px;
  height: 40vh;
}

.offer-package h1, hr, p {
  @apply 
  m-5;
}

.choose-offer-section {
  height: 45vh;
}

.form-input {
  background-color: #00000030;
  border: 1px white solid;
  border-radius: 0.25em;
  padding: 0.5rem;
  width: 100%;
  backdrop-filter: blur(3px);  
}

.shade {
  background-color: #00000025;
  border-radius: 1em;
}

.shadeAndBlur {
  background-color: #00000075;
  backdrop-filter: blur(3px);
  border-radius: 1em;
}

.error-message {
  display: none;
}

.error-message:invalid {
  display: block;
}