@import url('../css/fonts/roboto.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'chillaxbold';
  src: url('fonts/chillax/chillax-bold-webfont.woff2') format('woff2'),
  url('fonts/chillax/chillax-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chillaxextralight';
  src: url('fonts/chillax/chillax-extralight-webfont.woff2') format('woff2'),
  url('fonts/chillax/chillax-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chillaxlight';
  src: url('fonts/chillax/chillax-light-webfont.woff2') format('woff2'),
  url('fonts/chillax/chillax-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chillaxregular';
  src: url('fonts/chillax/chillax-regular-webfont.woff2') format('woff2'),
  url('fonts/chillax/chillax-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply bg-mochi-white
  text-mochi-orange
  flex
  justify-center
  text-center
  mx-0
  my-auto
  roboto-regular;
  min-width: 320px;
  min-height: 100vh;
}

#app-wrapper {
  max-width: 1440px;
  width: calc(100vw);
}

header {
  @apply bg-mochi-white
  text-mochi-orange text-xl
  px-10 py-5
  flex
  place-content-evenly;
}

.nav-logo {
  width: 10%;
}

.nav-icons {
  width: 10%;
}

.nav-icons img {
  @apply mx-2
  w-1/5;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1;
}

footer button {
  text-transform: uppercase;
}

/* main */
main img {
  border-radius: 1em;
}

.center {
  display: flex;
  place-content: center;
  margin-left: auto;
  margin-right: auto;
}

.wiz-photo {
  @apply m-1;
}

.section-realisations img {
  @apply mx-auto;
}