@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

header {
  @apply bg-mochi-gray
  text-mochi-orange text-4xl
  px-10 py-5
  flex
  place-content-between;
}